<div class="content">
  <div class="header"><h1>Admin page</h1></div>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="content-section">
    <h4>Create User</h4>
    <%= form_with url: admin_accounts_path, class: "pure-form" do |f| %>
      <%= f.text_field :email, placeholder: "Email" %><br>
      <%= f.password_field :password, placeholder: "Password" %><br>

      <%= f.submit "Create User", class: "pure-button pure-button-primary" %>
    <% end %>
  </div>

  <div class="content-section">
    <h4>View User Details</h4>
    <ul class="pure-menu-list">
    <% @users.each do |user| %>
      <li><%= link_to user.email, admin_account_path(id: user.id) %></li>
    <% end %>
    </ul>
  </div>
</div>
