<div class="content sign-in">
  <h1>Sign In</h1>

  <div class="content-section">

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>

  <%= form_with url: accounts_path, class: "pure-form" do |f| %>
    <%= f.hidden_field :redirect_url, value: params[:redirect_url] %>

    <%= f.text_field :email, placeholder: "Email" %><br>
    <%= f.password_field :password, placeholder: "Password" %><br>

    <%= f.submit "Sign In", class: "pure-button pure-button-primary" %>
  <% end %>

  <%= link_to "Reset Password", reset_password_accounts_path %>
  </div>
</div>
